<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>chat</title>
</head>
<body>
    <div class="bungkus">
        <div class="toolbar">
            <div class="pp" style="background-image: url('/file/img/max.jpg');"></div>
            <div class="tool">
                <img src="/file/icon/user.svg" alt="profile" class="icon">
                <img src="/file/icon/message-circle.svg" alt="tambah" class="icon">
                <img src="/file/icon/minus-circle.svg" alt="hapus" class="icon">
            </div>
            <p class="logo" style="font-size: 50px; font-weight: bold; color: #116fe2;">H</p>
        </div>
        <div class="bList">
            <div class="list">
                <div class="pp" style="background-image: url('/file/img/perez.jpg');"></div>
                <div class="bText">
                    <h3>Perez</h3>
                    <p class="textList">Fugiat sunt reprehenderit ut Lorem sunt. Commodo cillum non proident laboris ex. Dolor excepteur anim cillum ut voluptate excepteur amet qui exercitation esse excepteur excepteur velit. Reprehenderit cillum in culpa cillum minim laboris ea amet Lorem laborum irure sunt amet irure. Magna tempor ipsum sit ad sint minim aute do fugiat quis ipsum magna. Id duis aute est tempor elit pariatur enim. Ut velit sunt voluptate Lorem aliquip ipsum ut culpa in excepteur. Cupidatat quis laborum excepteur cupidatat minim nisi sint consectetur consectetur. Ad eiusmod cillum laboris consectetur nostrud do Lorem ex veniam.</p>
                </div>
                <div class="detail">
                    <p class="date">06.42</p>
                    <p class="masuk">99+</p>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class="detailChat">
                <div class="pp" style="background-image: url('/file/img/perez.jpg');"></div>
                <div class="detail">
                    <h3>Perez</h3>
                    <p>online</p>
                </div>
            </div>
            <div class="chatting">
                <div class="chatKiri">
                    <div class="bungkusPesan">
                        <p class="pesan">Fugiat sunt reprehenderit ut Lorem sunt. Commodo cillum non proident laboris ex. Dolor excepteur anim cillum ut voluptate excepteur amet qui exercitation esse excepteur excepteur velit. Reprehenderit cillum in culpa cillum minim laboris ea amet Lorem laborum irure sunt amet irure. Magna tempor ipsum sit ad sint minim aute do fugiat quis ipsum magna. Id duis aute est tempor elit pariatur enim. Ut velit sunt voluptate Lorem aliquip ipsum ut culpa in excepteur. Cupidatat quis laborum excepteur cupidatat minim nisi sint consectetur consectetur. Ad eiusmod cillum laboris consectetur nostrud do Lorem ex veniam.</p>
                        <div class="detailPesan">
                            <p class="date">06.42</p>
                            <div class="dilihat" style="background-color: #2DC937;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>